<div class="d-flex justify-content-center">
    <a href="https://www.sympla.com.br/evento/devfest-fortaleza-2025-ia-tecnologia-e-comunidade/3159163?share_id=copiarlink" target="_blank" rel="noopener noreferrer" class="header-link">
        <picture>
            <source srcset="/assets/header_mobile.png" media="(max-width: 600px)">
            <source srcset="/assets/header_md.png" media="(min-width: 601px)">
            <img src="/assets/header_md.png" class="image" alt="Devfest Fortaleza 2025">
        </picture>
    </a>
</div>