<div class="mt-5" id="4">
  <img src="assets/parceiras.png" class="tam_parceria" />
  <div class="row">
    <div
      class="d-flex colum flex-column justify-content-center align-items-center"
    >
      <p class="cta-patrocinio-title fs-2 text-center">
        Tem interesse em patrocinar o evento?
      </p>
      <p class="text-center fs-5">
        Fala com a gente pelas redes sociais ou nos envie um
        <a href="mailto:gdgfortaleza@gmail.com">email</a>.
      </p>
    </div>
  </div>
</div>
